.maincontainer{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
}
.cloclcontaienr{
    background-image: url("https://res.cloudinary.com/djomnr5y2/image/upload/v1675619592/5054_impkri.png");
    background-size: 100%;
    border-radius: 300px;
    height: 500px;
    width: 500px;
    position: relative;
}
#min,
#hour,
#sec{
  position: absolute;
  background-color: black;
  border-radius: 10px;
  transform-origin: bottom;
}
#min{
    height: 26%;
    width: 6px;
    top: 24%;
    left: 49.3%;
}
#sec{
    height: 30%;
    width: 3px;
    top: 20.5%;
    left: 49.5%;
}
#hour{
    height: 22%;
    width: 7px;
    top: 28.5%;
    left: 49.3%;
}